@charset "utf-8";
body {
	margin: 0;
	padding: 0;
	background-color: #e2e9f1;
	font-family: Tahoma;
	font-size: 11px;
	width: 100%;
	-webkit-text-size-adjust: none;
	color: #000000;
	text-shadow: 1px 1px 1px #ffffff;
}
input:focus {
	outline-style: none;
}
ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.headerBG {
	width: 100%;
	/*height: 87px;*/
	background: #e2e9f1; /* Old browsers */
	/*background: -moz-linear-gradient(top, #ffffff 0%, #e2e9f1 80%); /* FF3.6+ */
	/*background: -webkit-linear-gradient(top, #ffffff 0%, #e2e9f1 80%); /* Chrome10+,Safari5.1+ */
	/*background: -o-linear-gradient(top, #ffffff 0%, #e2e9f1 80%); /* Opera 11.10+ */
	/*background: -ms-linear-gradient(top, #ffffff 0%, #e2e9f1 80%); /* IE10+ */
	/*background: linear-gradient(to bottom, #ffffff 0%, #e2e9f1 80%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e9f1',GradientType=0 ); /* IE6-9 */ 
}
#containerHead{
	width: 936px;
	/*height: 87px;*/
	margin: 0 auto;
	background: none;
	filter: 0;
}
.logoPos{
	float: left;
	margin: 12px 0 0 -12px;
}
.loginArea{
	float: right;
	text-align: right;
	padding: 26px 10px 0 0;
	min-width: 50%;
}
.loginArea input{	
	width: 80px;
	border: 1px solid #c1c1c1;
	border-radius: 2px;
	-webkit-box-shadow: inset 0px 2px 7px #e8e8e8;
	-moz-box-shadow: inset 0px 2px 7px #e8e8e8;
	box-shadow: inset 0px 2px 7px #e8e8e8;	
	margin-left: 2px;
	font-family: Tahoma;
	font-size: 11px;
	color: #494949;
	padding: 2px;
}
.loginArea img{
	width: 52px;
	height: 19px;
	margin-bottom: -5px;
}
.loginRow{
	height: 20px;
	margin-bottom: 13px;
}
.titleInput{
	margin-left: 10px;
}
.langFormPos{
	float: right;
	padding: 0 2px 0 6px;
	margin-top: -3px;
}
.loginBtnPos{
	display: inline-block;
	margin: 0 -5px -5px 12px;
}

/* index content*/
.container{
	margin: 0 0 0 10px;
	/*display: inline-table;*/
}
.areaBlock{
	margin: 7px 10px 14px 0;
	border-radius: 6px;
	float: left;
	position: relative;
}
.areaBorder{
	width: inherit;
	height: inherit;
	border: 1px solid #c8cfd6;
	border-radius: inherit;
	-webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px 2px 5px rgba(255, 255, 255, 1);
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
}
.areaBGlight{
	width: inherit;
	height: inherit;
	border-radius: inherit;
	z-index: 5;
	position: absolute;
	top: 1px;
	left: 1px;
	background: url(../images/login_page/areaBGlight.png) no-repeat 0 0;
}
.areaBG{
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: #f1f4f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f4f8 0%, #e1e7f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f4f8 0%, #e1e7f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f4f8', endColorstr='#e1e7f0',GradientType=0 ); /* IE6-9 */
	z-index: 1;
	position: absolute;
	top: 1px;
	left: 1px;
}
.ad.areaBlock{
	width: 620px;
	height: 240px;
}
.ad.areaBlock .areaBorder,
.ad.areaBlock .areaBorder .slides_container,
.ad.areaBlock .areaBorder .slides_control,
.ad.areaBlock .areaBorder a,
.ad.areaBlock .areaBorder a:before,
.ad.areaBlock .areaBorder a img {
	width: 620px;
	height: 240px;
	border-radius: 6px;
}
.ad.areaBlock .areaBorder { position: relative; overflow:hidden;}
.ad.areaBlock .areaBorder .slides_container { position: absolute; width:9999px;}
.ad.areaBlock .areaBorder .slides_container { float:left; overflow:hidden;}
.ad.areaBlock .areaBorder .slides_container a { display: block; position:relative; overflow:hidden;}
.ad.areaBlock .areaBorder .slides_container a:before {
	content:"";
	position: absolute;
	-webkit-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 2px 5px rgba(255, 255, 255, 1);
	overflow:hidden;
}
.ad.areaBlock .areaBorder .slides_container a img { border:0;}
.ad.areaBlock .areaBorder .slides_control { overflow:hidden;}

.ad.areaBlock ul.pagination {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	z-index: 99;
	bottom: 12px;
	left: 12px !important;
	height: 8px;
}
.ad.areaBlock ul.pagination li {
	float: left;
	width: 8px;
	height: 8px;
	margin: 0px 5px;
}
.ad.areaBlock ul.pagination a {
	display:block;
	width: 8px;
	height: 8px;
	font-size:0;
	text-indent:-9999px;
	background: #fff;
	background: rgba(255,255,255,.4);
	border-radius: 4px;
}
.ad.areaBlock ul.pagination a:before { content:""; display:block; margin: -1px 0 0 -1px; border: solid 1px #fff; width:inherit; height:inherit; border-radius: inherit;}

.ad.areaBlock ul.pagination a:hover { 
	background: #4291c0;
	background: rgba(66,145,192,.4);
}
.ad.areaBlock ul.pagination .current a { 
	background: #23599c;
	background: rgba(35,89,165,.7);
}
.service {
	width: 294px;
	height: 240px;
	float: left;
	padding-top: 7px;
	position: relative;
}
.service .areaBlock {
	width:	90px;
	height: 116px;
	margin: 0 8px 8px 0;
}
.service .areaBlock .areaContent {
	padding: 10px;
}
.service .areaBlock .title {
	font-size: 16px;
	text-align: center;
	padding-bottom: 5px;
	line-height: 18px;
}
.service.vn .areaBlock .title, .service.jp .areaBlock .title, .service.ko .areaBlock .title { font-size: 12px; font-weight: bold;}
.service.vn .areaBlock.liveChat .title, .service.id .areaBlock.liveChat .title, .service.fr .areaBlock.liveChat .title, .service.pt .areaBlock.liveChat .title, .service.jp .areaBlock.liveChat .title { text-align: left;}
.service .areaBlock .logo {
	background: url(../images/layout/icon_contactSet.png?V=20141119001) no-repeat;
	height: 70px;
	width: 70px;
	position: absolute;
	top: 38px;
	left: 10px;	
}
.areaBlock.liveChat .logo { 		background-position: -350px -100px;}
.areaBlock.skype .logo { 			background-position: -70px -100px;}
.areaBlock.qq .logo { 				background-position: -280px -100px;}
.areaBlock.whatsApp .logo { 	background-position: -420px -100px;}
.areaBlock.line .logo { 				background-position: -490px -100px;}
.areaBlock.weChat .logo { 		background-position: -560px -100px;}
.service .areaBlock .detail, .service .areaBlock .close {
	display: none;
}
.service .areaBlock.current {
	position: absolute;
	top: 42px;
	left: 66px;
	z-index: 15;
	width: 160px;
	height: 182px;
}
.service .current.skype { 		top: 65px; height: 126px;}
.service .current.qq { 				top: 70px; height: 108px;}
.service .current.whatsApp { 	top: 41px; height: 163px;}
.service.ko .current.skype, .service.id .current.skype, .service.pt .current.skype { left: 40px; width: 204px;}
.service.fr .current.skype { 																							left: 38px; width: 216px;}
.service.es .current.skype { 																						left: 48px; width: 188px;}
.service .current + .areaBlock {
	margin-left: 98px;
}
.service .current + .areaBlock.whatsApp {
	margin-left: 0px;
	clear: both;
}
.service .current .areaBorder {
	-webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(255, 255, 255, 1);
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3), inset 0px 2px 5px rgba(255, 255, 255, 1);
}
.service .current .areaContent {
	padding: 9px 7px;
}
.service .areaBlock.current .title {
	text-align: left;
	position: relative;
	padding: 0 0 20px 30px;
	color: #383a3c;
}
.service .current .logo {
	display: none;
}
.service .current .title:before {
	content: "";
	position: absolute;
	left: -2px;
	top: -4px;
	width: 30px;
	height: 30px;
	background: url(../images/layout/icon_contactSet.png?v=20141119001) no-repeat;
	margin-right: 3px;
}
.service .current.liveChat .title:before { 	background-position: -369px -310px;}
.service .current.skype .title:before { 		background-position: -91px -310px;}
.service .current.qq .title:before { 				background-position: -300px -310px;}
.service .current.whatsApp .title:before { background-position: -441px -310px;}
.service .current.line .title:before { 			background-position: -510px -310px;}
.service .current.weChat .title:before { 		background-position: -580px -310px;}
.service .current .close {
	display: inline-block;
	background: url(../images/layout/icon_contactSet.png?v=20141119001) no-repeat right top;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 3px;
	right: 0px;
}
.service .current .detail {
	display: block;
	padding-left: 30px;
	cursor: default;
	color: #4291c0;
}
.service .current .detail > a, .service .current .detail > div {
	margin-top: 5px;
	font-size: 14px;
}
.service .current .detail > a:first-child, .service .current .detail > div:first-child {
	margin-top: 0;
}
.service .current .qrcode {
	height: 89px;
	background-repeat: no-repeat;
}
.service .current.whatsApp .qrcode {	background-image: url(../images/layout/qrcode_whatsapp.jpg);}
.service .current.line .qrcode {			background-image: url(../images/layout/qrcode_line.jpg);}
.service .current.weChat .qrcode {		background-image: url(../images/layout/qrcode_wechat.jpg);}
.service .blur {
	z-index: -1;
}
.service .blur .title, .service .blur .logo {
	-webkit-filter: blur(1px);
	-moz-filter: blur(1px);
	-o-filter: blur(1px);
	-ms-filter: blur(1px);
	opacity: 0.6;
	text-shadow: 0px 0px 3px #000;
	color: #B1B1B1;	
}
.service .blur .title {
	filter: progid:DXImageTransform.Microsoft.blur(PixelRadius='2');
}
.blur.liveChat .logo { 		background-position: -350px -240px;}
.blur.skype .logo { 			background-position: -70px -240px;}
.blur.qq .logo { 				background-position: -280px -240px;}
.blur.whatsApp .logo { 	background-position: -420px -240px;}
.blur.line .logo { 				background-position: -490px -240px;}
.blur.weChat .logo { 		background-position: -560px -240px;}
.service .areaBGlight {
	background-position: -20px -60px;
}
.game.areaBlock{
	width: 620px;
	height: 130px;
}
.game.areaBlock .areaBGlight{
	background-position: 185px 0;
}
.download.areaBlock{
	width: 286px;
	height: 130px;
}
.areaContent{
	padding: 15px 25px;
}
.title{
	font-size: 20px;
	color: #383a3c;
	padding-bottom: 10px;
}
body[lang="fr"] .download .title {	font-size: 16px;padding-bottom: 5px;}
body[lang="fr"] .download .areaContent { padding:10px 25px;}
body[lang="pt"] .download .title {	font-size: 16px;padding-bottom: 5px;}
body[lang="es"] .download .title {	font-size: 17px;}
.content1{
	font-size: 13px;
	color: #000000;
	padding-bottom: 5px;
}
.content2{
	font-size: 16px;
	color: #4291c0;
	line-height: 22px;
	padding: 0 0 5px 8px;
}
.line{
	width: 100%;
	height: 1px;
	border-top: 1px solid #C5C9CF;
	margin: 10px 0 15px 0;
}
.btnArea{
	float: right;
}
a.btn{
	font-size: 14px;
	color:#ffffff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	padding: 3px 13px;
	border-radius: 6px;
	background: #343637; /* Old browsers */
	background: -moz-linear-gradient(top, #596067 0%, #343637 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #596067 0%, #343637 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #596067 0%, #343637 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #596067 0%, #343637 100%); /* IE10+ */
	background: linear-gradient(to bottom, #596067 0%, #343637 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#596067', endColorstr='#343637',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	margin-right: 5px;
	float:left;
}
a.btn:hover{
	background: #f27745; /* Old browsers */
	background: -moz-linear-gradient(top, #fea244 0%, #f27745 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fea244 0%, #f27745 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fea244 0%, #f27745 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fea244 0%, #f27745 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fea244 0%, #f27745 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea244', endColorstr='#f27745',GradientType=0 ); /* IE6-9 */
}
:root a.btn { filter: none\9; } /*ie9*/
:root a.btn:hover { filter: none\9; } /*ie9*/

.navGameType{
	margin: 25px 0px 25px 25px;
}
.navGameType li{
	float: left;
	margin: 0;
	margin-left: 0px;
}
.navGameType li a {
	padding-top: 71px;
	width: 114px;
	display: block;
	font-size: 14px;
	text-align: center;
	background: url(../images/login_page/icon_gameType.png?v=20121222001) no-repeat 0px 0;
	color: #000000;
}
.navGameType li a.poker{
	background-position: 24px 0px;
}
.navGameType li a.miniGame{
	background-position: -76px 0px;
}
.navGameType li a.casino{
	background-position: -176px 0px;
}
.navGameType li a.liveCasino{
	background-position: -276px 0px;
}
.navGameType li a.bingo{
	background-position: -376px 0px;
}
.navGameType li a.numberGame{
	background-position: -476px 0px;
}
/*
.navDownload{
	margin: 20px 28px;
}*/
.navDownload li a.btn {
	text-align:center;
	line-height:22px;
	padding:3px 10px;
	white-space: nowrap;
}


/*index footer*/
.footerArea{
	border-top: 1px solid #cbd1d8;
	background: url(../images/login_page/footerBG.png) no-repeat 0 0;
	margin: 7px 0 0 12px;
	width: 98%;
	text-align: center;
	padding: 23px 0;
}
.footerNav{
	padding-bottom: 17px;
}
.footerNav li{
	padding: 0 2px;
	color: #bebebe;
	display: inline;
}
.footerNav li a, .mobileSwitch a {
	color: #487fb7;
}
.footerNav li a:hover, .mobileSwitch a:hover {
	color: #F99144;
}
.footerInfo{
	display: block;
	color: #666666;
	line-height: 16px;
}
.clear{
	clear: both;
}
/*skype*/
#skypedetectionswf{
margin-left: -10000px;
width: .001em;
height: .001em;
}

/*UM page*/
.containerUM{
	width: 100%;
	text-align: center;
	background: #dbe0ec; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f9fb 0%, #dbe0ec 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #f7f9fb 0%, #dbe0ec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f7f9fb 0%, #dbe0ec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f7f9fb 0%, #dbe0ec 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f7f9fb 0%, #dbe0ec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fb', endColorstr='#dbe0ec',GradientType=0 ); /* IE6-9 */
}
.UMPos{
	text-align: left;
	width: 60%;
	padding: 20px;
	display: inline-block;
}
.UMTitle{
	font-size: 30px;
	font-weight: bold;
	color: #e94201;
	padding: 15px 0 15px 50px;
	background: url(../images/UM/icon_warning.png) no-repeat 0 15px;
}
.UMMessage{
	border-top: 1px solid #cfd7e0;
	border-bottom: 1px solid #cfd7e0;
	padding: 20px 5px 0;
	-webkit-box-shadow: inset 0px 1px 0px #ffffff, 0px 1px 0px #fefefe;
	-moz-box-shadow: inset 0px 1px 0px #ffffff, 0px 1px 0px #fefefe;
	box-shadow: inset 0px 1px 0px #ffffff, 0px 1px 0px #fefefe;
	color: #3f3f3f;
	line-height: 22px;
	font-size: 15px;
}
.UMMArea{
	padding-bottom: 10px;
}
.UMMTitle{
	font-size: 14px;
	font-weight: bold;	
}
.red{
	color: #a40000;
}

.UMBox {
	background: rgba(255, 255, 255, 0.4);
	border:  solid 1px #ffffff;
	padding: 10px;
	margin-bottom: 15px;
	}

.Phase1 #ph2-en,.Phase1 #ph2-cs{ display:none;}
.Phase2 #ph1-en,.Phase2 #ph1-cs{ display:none;}

.btn-UM { 
	display:inline-block; 
	width:192px; height:36px; line-height:36px;
	color:#000; font-size:16px; font-weight:bold; 
	text-decoration:none; text-shadow: 1px 1px 1px #fff;
	text-align:center; margin:10px;
	/*background*/
	background: #bcbcbc; /* Old browsers */
	background: -moz-linear-gradient(top, #f1f1f1 0%, #bcbcbc 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #bcbcbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f1f1f1 0%, #bcbcbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f1f1f1 0%, #bcbcbc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f1f1f1 0%, #bcbcbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#bcbcbc',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #b1b1b1;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 1);
}
.btn-UM.light {
	color:#ffffff; text-shadow:-1px -1px 1px #000;
	/*background*/
	background: #3f6fbc; /* Old browsers */
	background: -moz-linear-gradient(top, #87a6d9 0%, #3f6fbc 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #87a6d9 0%, #3f6fbc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #87a6d9 0%, #3f6fbc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #87a6d9 0%, #3f6fbc 100%); /* IE10+ */
	background: linear-gradient(to bottom, #87a6d9 0%, #3f6fbc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87a6d9', endColorstr='#3f6fbc',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #587ab1;
	border-radius:2px;
	}
.btn-UM:hover { 
	color:#FFF;
	text-shadow: -1px -1px 0px #e94201;
	/*background*/
	background: #f27545; /* Old browsers */
	background: -moz-linear-gradient(top, #fea244 0%, #f27545 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(top, #fea244 0%, #f27545 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fea244 0%, #f27545 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fea244 0%, #f27545 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fea244 0%, #f27545 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea244', endColorstr='#f27545',GradientType=0 ); /* IE6-9 */
	/*border*/
	border:1px solid #d1591f;
	border-radius:2px;
	/*box-shadow*/
	-webkit-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0px 0px 4px rgba(255, 255, 255, 0.5);
}

/* popup (from table_w.css) */
.popupW{
	border-radius: 2px;
	-webkit-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
	min-width: 350px;
	max-width:680px;
}
.popupWTitle{
	background: url(../images/layout/popup.png) no-repeat 0 0;
	margin: 0 2px 0 0;
}
.popupWTitle > span{
	background: url(../images/layout/popup.png) no-repeat right 0;
	margin: 0 -2px 0 2px;
	display: block;
	padding: 5px;
	height: 17px;
	overflow:hidden\0;
}
.popWIcon{
	background: url(../images/layout/icon_UI02.png) no-repeat -96px 0;
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
}
.popWTitleContain{
	float: left;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;	
	white-space: nowrap;
	text-shadow: -1px -1px 1px #303030;
}
.popWClose{
	float: right;
	cursor: pointer;
	background: url(../images/layout/btn_UI04.png) no-repeat 0 0;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}
.popWClose:hover{
	background-position: 0 -20px;
}
.popWRefresh{
	float: right;
	cursor: pointer;
	background: url(../images/layout/btn_UI04.png) no-repeat -20px 0;
	width: 16px;
	height: 16px;
	margin-left: 2px;
}
.popWRefresh:hover{
	background-position: -20px -20px;
}
.popWContain{
	margin: -1px 0px 0 0;
	border: 1px solid #363636;
	border-radius: 0 0 2px 2px;
}
.popWTableArea{
	padding: 10px;
	border: 1px solid #ffffff;
	border-radius: 0 0 2px 2px;
	background: #f5f3f2;
}
/* social icon */
.socialBar {
	margin-bottom: -4px;
	display: inline-block;
	color:#000000;
	margin-left:20px;
}
.socialBar li {
	position:relative;
	float:left;
	display:block;
	margin-left: 5px;
	height:16px;
}
.socialBar li .popupW {
	min-width:240px;
	display: none; position: absolute; z-index: 100; bottom: 20px; right: 0px;
}
.socialBar li a.icon {
	width:16px;
	height:16px;
	display:inline-block;
	background-image:url(../images/layout/icon_social.png?v=20130131001);
	background-repeat:no-repeat;
	text-indent: -999999em;
	overflow:hidden;
	color:#000000;
	line-height: 16px;
}
.socialBar li a.icon:hover {
	color:#F99144;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80)\9;
	opacity: 0.8;
}
.icon.Facebook {	background-position: 0 -20px;}
.icon.Twitter {	background-position: 0 -40px;}
.icon.Youtube {	background-position: 0 -60px;}
.icon.Flickr {	background-position: 0 -80px;}
.icon.Blogger {	background-position: 0 -100px;}
.icon.Linkedin {	background-position: 0 -120px;}
.icon.Webshare {	background-position: 0 -140px;}
.icon.Bebo {	background-position: 0 -160px;}
.icon.Arto {	background-position: 0 -180px;}
.icon.Apsense {	background-position: 0 -200px;}
.icon.Pinterest {	background-position: 0 -220px;}
.icon.Wordpress {	background-position: 0 -240px;}
.icon.Xanga {	background-position: 0 -260px;}
.icon.Myspace {	background-position: 0 -280px;}
.icon.Bentio {	background-position: 0 -300px;}
.icon.Efactor {	background-position: 0 -320px;}
.icon.Reddit {	background-position: 0 -340px;}
.icon.Weibo {	background-position: 0 -360px;}
.icon.Blurpalicious {	background-position: 0 -380px;}
.icon.Tumblr {	background-position: 0 -400px;}
.icon.ZingMe {	background-position: 0 -420px;}
.socialMenu li {
	margin:0 5px 5px 0;
}
.socialMenu li a.icon {
	width: 80px;
	text-align:left;
	text-indent: 0em;
	padding-left: 20px;
}
br[clear="all"] { height:0; overflow:hidden;}

/* langMenu for iPad 
-----------------------------------------*/
.isPad body {	font-family: helvetica;}
.isPad .selLang, .isPad .areaBlock.game, .isPad .areaBlock.download {display:none;}
.isPad #ibclogo {
	-moz-transition: none;
	-webkit-transition: none;
	transition: none;
}
.isPad #containerHead {
	position: static !important;
	top: inherit !important;
	bottom: inherit !important;
}
.isPad .langMenu {display:block;}
.isPad .loginRow{
	height: auto;
	margin-bottom: 5px;
}
.isPad .logoPos {	margin: 26px 0 0 20px;}
.isPad #ibclogo {
	background:none;
	background-size: contain;
	background-image: url(../images/layout/logo.png);
	background-repeat:no-repeat;
	height:65px !important;
	position:inherit !important;
	top:inherit !important;
}
.isPad .loginBtnPos {
    float:right;
	margin: 0 -4px 0 10px;
}
.isPad .loginBtnPos .button, .isPad .loginBtnPos .button span {
	background-image: url(../images/layout/btnLogin.png);
	height: 34px;
	line-height: 34px;
}
.isPad .loginBtnPos .button {
	padding-right: 20px;
	margin-left: 20px;
	color:#FFFFFF;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.7);
}
.isPad .loginBtnPos .button span {
	padding-left: 20px;
	margin-left: -20px;
	font-size: 14px;
	font-weight:bold;
}
.isPad .loginBtnPos .button:hover {
	background-position: right 0px;
}
.isPad .loginBtnPos .button:hover span {
	background-position: left 0px;
}
.isPad .loginArea input {
    width:150px;
    height:28px;
    font-size: 1.3em;
    text-indent: 3px;
}

/* langMenu for iPad (雙排)
-----------------------------------------*/
.langMenu {
	display:none;
	position:relative;
	overflow:hidden;
    width:686px;
	margin-bottom:13px;
	list-style:none;
}
/* 共用 */
.langMenu li, 
.langMenu:after {
	float:left;
	width:98px;
	height: 36px;
	line-height:42px;
	text-align: center;
	background-image:url(../images/layout/langMenu2row.png);
	background-position:center top;
	background-repeat:no-repeat;
}
/* 第一排 最前 */
.langMenu li:first-child {
	background-position:left top;
}
/* 第一排 最後 */
.langMenu li:nth-of-type(7) {
	background-position:right top;
}
/* 第一排 狀態變化 */
.langMenu li.selected, 
.langMenu li:hover 
{
	color:#FFFFFF;
	background-position: center -82px;
	text-shadow: -1px -1px 2px rgba(0,0,0,0.7);
}
/* 第一排 狀態變化 最前 */
.langMenu li:first-child.selected, 
.langMenu li:first-child:hover {
	background-position:left -82px;
}
/* 第一排 狀態變化 最後 */
.langMenu li:last-child.selected, 
.langMenu li:nth-of-type(7).selected, 
.langMenu li:last-child:hover, 
.langMenu li:nth-of-type(7):hover {
	background-position:right -82px;
}
/* 第二排 */
.langMenu li:nth-of-type(8),
.langMenu li:nth-of-type(9),
.langMenu li:nth-of-type(10),
.langMenu li:nth-of-type(11),
.langMenu li:nth-of-type(12),
.langMenu li:nth-of-type(13), 
.langMenu li:nth-of-type(14) {
	line-height:30px;
	background-position:center -36px;
}
/* 第二排 最前 */
.langMenu li:nth-of-type(8) {
	background-position:left -36px;
}
/* 第二排 最後 */
.langMenu li:nth-of-type(14),
.langMenu:after {
	background-position:right -36px;
}
/* 第二排 狀態變化 */
.langMenu li:nth-of-type(8).selected,
.langMenu li:nth-of-type(9).selected,
.langMenu li:nth-of-type(10).selected,
.langMenu li:nth-of-type(11).selected,
.langMenu li:nth-of-type(12).selected,
.langMenu li:nth-of-type(13).selected,
.langMenu li:nth-of-type(14).selected,
.langMenu li:nth-of-type(8):hover,
.langMenu li:nth-of-type(9):hover,
.langMenu li:nth-of-type(10):hover,
.langMenu li:nth-of-type(11):hover,
.langMenu li:nth-of-type(12):hover,
.langMenu li:nth-of-type(13):hover,
.langMenu li:nth-of-type(14):hover {
	background-position:center -118px;
}
/* 第二排 狀態變化 最前 */
.langMenu li:nth-of-type(8).selected,
.langMenu li:nth-of-type(8):hover  {
	background-position:left -118px;
}
/* 第二排 狀態變化 最後 */
.langMenu li:nth-of-type(14).selected,
.langMenu li:nth-of-type(14):hover  {
	background-position:right -118px;
}
/* 第二排 補最後缺角(無第14個語系時) */
.langMenu:after {
	content:"";
	position:absolute;
	bottom:0;
	right:0;
}
/* 微調俄文邊距 */
.langMenu li:lang(ru) { text-indent:10px;}

/* 節慶用 - 2015新年 */
/*
.isPad #ibclogo { background-image: url(../images/layout/logo_CNY2015.png); background-position: -10px 5px; }
*/